<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talkers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <% if (isLoggedIn()) { %>
            <form action="/dash">
                <button>Community</button>
            </form>
            <form action="/sessions" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button>Logout</button>
            </form>
            <form action="/users/<%= currentUser.id%>" >
                <button>Setting account</button>
            </form>
            <form action="/users/<%= currentUser.id%>/profile">
                <button>My Porfile</button>
            </form>
        <% } %>
    </header>

    <%- body %>
</body>
</html>