<div> 
    <h2>Log In</h2>
    <div>
        <form action="/sessions" method="post">
            <label for="">Your Username</label>
            <input type="text" name="username" id="" required />
            <label for="">Your Password</label>
            <input type="password" name="password" id="" required />
            <button>Continue</button>
        </form>
    </div>
</div>

