<section class="wrapper-sett">
    <div class="column-elem">
        <div class="login">
            <h2 class="title-welcome-page">Log In</h2>
        </div>
        <div>
            <form action="/sessions" method="post" class="wp-buttons">
                <label for="">Your Username</label>
                <input type="text" name="username" id="" required />
                <label for="">Your Password</label>
                <input type="password" name="password" id="" required />
                <button>Continue</button>
            </form>
        </div>
    </div>
</section>