<section class="wrapper-sett">
    <div class="column-elem">
        <div class="login">
            <h2 class="title-welcome-page">Search user by</h2>
        </div>
        <div>
            <form action="/user/searchuser" class="wp-buttons">
                <label for="">Learning language</label>
                <input type="text" name="lang_level" id="" required />
                <label for="">Native language</label>
                <input type="password" name="native_lang" id="" required />
                <button>Continue</button>
            </form>
        </div>
    </div>
</section>