<section class="wrapper">
    <div class="column">
        <h2 class="title-welcome-page">Create a user</h2>
        <div>
            <form action="/users" method="post" class="column">
                <label for="username">Your Username</label>
                <input type="text" name="username" required />
                <label for="name">Your name</label>
                <input type="text" name="name" required />
                <label for="password">Your Password</label>
                <input type="password" name="password" required />
                <label for="country">Country</label>
                <input type="text" name="country" required />
                <label for="image_url">Profile photo</label>
                <input type="text" name="image_url" />
                <label for="learn_lang">Learning Languages</label>
                <select name="learn_lang" required>
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Italian">Italian</option>
                    <option value="Mandarin">Mandarin</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Portuguese">Portuguese</option>
                </select>
                <label for="native_lang">Native Languages</label>
                <select name="native_lang" required>
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Italian">Italian</option>
                    <option value="Mandarin">Mandarin</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Portuguese">Portuguese</option>
                </select>
                <label for="lang_level">Choose your language level</label>       
                <label for="Beginner">Beginner</label>   <input type="radio" name="lang_level" value="Beginner" checked />
                <label for="">Intermediate</label> <input type="radio" name="lang_level" value="Intermediate" checked />
                <label for="">Advanced</label>
                <input type="radio" name="lang_level" value="Advanced" checked />
                <button>Continue</button>
            </form>
        </div>
    </div>
</section>