<div>
    <div>
        <h2>Welcome to Talkers</h2>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <a href="/users">SignUp</a>
        <a href="/login">LogIn</a>
    </div>
</div>