<section class="wrapper-wp">
    <img src="https://images.pexels.com/photos/1111371/pexels-photo-1111371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="logo" class="logo">

    <h2 class="title-welcome-page">Welcome to Talkers</h2>
    <div class="wp-buttons">
        <a href="/users">SignUp</a>
        <a href="/login">LogIn</a>
    </div>
</section>