.wrapper-post,.wrapper-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.textarea>form>button,
form>button {
    padding: 10px;
    height: fit-content;
    font-size: 1rem;
    height: 35px;
    border: none;
    border-left: 3px solid #F72585;
    color: black;
    background-color: white;
}

.textarea>form>button:hover,
form>button:hover {
    color: #56CFE1;
}

.wrapper-main>div>h4 {
    margin: 20px 0;
}